@tailwind base;
@tailwind components;
@tailwind utilities;

.zama-bg {
  background-color: #111827;
}

.header-bg {
  background-color: #ffd200;
}

.zama-yellow {
  background-color: #ffd200;
}

.zama-yellow:hover {
  background-color: #ffb243;
}

/* ===== COLOR STANDARDS ===== */
.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.text-gray {
  color: #9ca3af;
}
