@tailwind base;
@tailwind components;
@tailwind utilities;

.zama-bg {
  background-color: #374151;
}

.header-bg {
  background-color: #ffd200;
}

.zama-yellow {
  background-color: #ffd200;
}

.zama-yellow:hover {
  background-color: #ffb243;
}